.container_ {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.input-bg {
  background-color: #f3f3f3;
  color: #dbd5d5;
  font-size: 0.9rem;
  height: 2.9rem;
}

.custom-btn {
  padding: 0.6rem;
  border-radius: 4px;
  border: 0;
  outline: none;
}
.custom-btn-blue:disabled {
  border: 1px solid #b3e0ff;
  background-color: #b3e0ff;
  color: white;
}
.custom-btn-blue {
  border: 1px solid #2a91f8;
  background-color: #2a91f8;
  color: white;
}

.login-line {
  width: 45%;
  height: 2px;
  background-color: rgb(197, 194, 194);
}

.custom-btn-white {
  border: 1px solid #dee5e9;
  background-color: #fff;
  color: #333;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}
